.formbg {
    background: rgba(33, 28, 28, 0.15);
    box-shadow: 0 8px 32px 0 #8a8b95d1;
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}